[Desktop Entry]
Version=1.0
Name=生命体征监测程序Qt版
Comment=生命体征监测程序Qt版
GenericName=生命体征监测程序Qt版
Icon=/usr/share/icons/BodyMonitoringQt.png
Exec=/usr/local/BodyMonitoringQt/bin/BodyMonitoringQt
Terminal=false
X-MultipleArgs=false
Type=Application
Actions=new-window;new-private-window;
